<%= form_for @user do |f| %>
    <div class='form_item'>
    <%= f.label :Full_Name_On_Card %>
    <%= f.text_field :credit_card_full_name %>
    </div>

    <div class='form_item'>
    <%= f.label :Credit_Card_Number %>
    <%= f.number_field :credit_card_number %>
    </div>

    <div class='form_item'>
    <%= f.label :Expiration_Date %>
    <%= f.text_field :expiration_date %>
    </div>

    <div class='form_item'>
    <%= f.label :CSV %>
    <%= f.number_field :csv %>
    </div>

    <div class='form_item'>
    <%= f.label :Credit_Card_Type %>
    <%= f.text_field :credit_card_type %>
    </div>

    <div class='form_item'>
      <%= f.submit %>
    </div>

<% end %>
