<%= form_for @current_user.settings do |s| %>
    <div class='form_item'>
    <%= s.label :credit_card_full_name %>
    <%= s.text_field :credit_card_full_name %>
    </div>

    <div class='form_item'>
    <%= s.label :credit_card_number %>
    <%= s.number_field :credit_card_number %>
    </div>

    <div class='form_item'>
    <%= s.label :expiration_date %>
    <%= s.text_field :expiration_date %>
    </div>

    <div class='form_item'>
    <%= s.label :csv %>
    <%= s.number_field :csv %>
    </div>

    <div class='form_item'>
    <%= s.label :credit_card_type %>
    <%= s.text_field :credit_card_type %>
    </div>

    <div class='form_item'>
      <%= s.submit %>
    </div>

<% end %>
