 <% @current_user.settings.each do |setting| %>
    <%= form_for setting do |credit| %>
    <div class='form_item'>
    <%= credit.label :credit_card_full_name %>
    <%= credit.text_field :credit_card_full_name %>
    </div>

    <div class='form_item'>
    <%= credit.label :credit_card_number %>
    <%= credit.number_field :credit_card_number %>
    </div>

    <div class='form_item'>
    <%= credit.label :expiration_date %>
    <%= credit.text_field :expiration_date %>
    </div>

    <div class='form_item'>
    <%= credit.label :csv %>
    <%= credit.number_field :csv %>
    </div>

    <div class='form_item'>
    <%= credit.label :credit_card_type %>
    <%= credit.text_field :credit_card_type %>
    </div>

    <div class='form_item'>
      <%= credit.submit %>
    </div>

    <% end %>
<% end %>
