

<%= form_for @current_user do |f| %>
    <div class='form_item'>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    </div>

    <div class='form_item'>
    <%= f.label :surname %>
    <%= f.text_field :surname %>
    </div>

    <div class='form_item'>
    <%= f.label :email %>
    <%= f.email_field :email %>
    </div>

    <div class='form_item'>
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>

    <div class='form_item'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    </div>

    <div class='form_item'>
    <%= f.label :birthday %>
    <%= f.date_field :birthday %>
    </div>

    <div class='form_item'>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
    </div>

    <div class='form_item'>
      <%= f.submit %>
    </div>

<% end %>
