

<%= form_tag(interest_path, method: "patch") do %>
  <% @user.interests.each do |interest| %>
    <%= fields_for "interests[]", interest do | item | %>
      <p>
        <%= :Interest %>
      </p>
      <p>
        <%= item.text_field :item %>
      </p>
    <% end %>
  <% end %>
  <%= submit_tag "Submit"%>
<% end %>
