<h2>Welcome <%= @user.first_name %></h2>

<% if @current_user == @user %>


<div class='profile_paths_container'>
    <div id='profile_picture'>
        <%= cl_image_tag @user.image %>
    </div>
</div>


<div class='profile_paths_container'>
    <div id='profile_item1'>
        <%=link_to 'Existing Contacts', contacts_path  %>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item2'>
        <%=link_to 'New Search', contacts_path  %>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item3'>
        <%=link_to 'Existing Orders', 'contacts#index'  %>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item4'>
        <%= form_tag do %>

        <% end %>
        <%=link_to 'Settings', edit_user_path(@user) %>
    </div>
</div>

<% end %>
