<h3>New Contact Details</h3>
<%= form_for @contact do |c| %>
    <div class='form_item'>
    <%= c.label :first_name %>
    <%= c.text_field :first_name %>
    </div>

    <div class='form_item' class="form-group">
    <%= c.label :surname %>
    <%= c.text_field :surname %>
    </div>

    <div class='form_item' class="form-group">
    <%= c.label :email %>
    <%= c.email_field :email %>
    </div>

    <div class='form_item' class="form-group">
    <%= c.label :location %>
    <%= c.text_field :location %>
    </div>

    <div class='form_item' class="form-group">
    <%= c.label :birthday %>
    <%= c.date_field :birthday %>
    </div>

    <div class='form_item' class="form-group">
    <%= c.label :gender %>
    <%= c.text_field :gender %>
    </div>


    <%= hidden_field_tag :user_id, @current_user.id %>



<h3>Enter Contact Interests</h3>

    <div class='form_item' class="form-group">
        <%= text_field_tag :item1 %>
    </div>

    <div class='form_item' class="form-group">
        <%= text_field_tag :item2 %>
    </div>


    <div class='form_item' class="form-group">
        <%= text_field_tag :item3 %>
    </div>

    <div class='form_item' class="form-group">
        <%= c.submit %>
    </div>

<% end %>
