


<% if @current_user == @contact.user %>


<div class='profile_paths_container'>
    <div id='profile_item1'>
        <h4>Contact Details</h4>
        <p><%=@contact.first_name %> <%=@contact.surname %></p>
        <p><%=@contact.email %></p>
        <p><%=@contact.gender %></p>
        <p><%=@contact.location %></p>
        <p><%=@contact.relationship_status %></p>
        <p><%=@contact.birthday %></p>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item2'>
        <h4>Contact Interests</h4>
          <% @contact.interests.each do  |c| %>
            <p> <%= c.item %></p>
          <% end %>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item3'>
        <%=link_to 'Existing Orders', 'contacts#index'  %>
    </div>
</div>
<div class='profile_paths_container' >
    <div id='profile_item4'>
        <%=link_to 'Edit Contact Details', edit_contact_path(@contact) %>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item5'>
        <%=link_to 'New Search', contact_path(@contact) %>
    </div>
</div>

<% if @results.length > 0 %>
<div class='gift_suggestions_container'>
    <h3>Product suggestions: </h3>
    <% @results.each do |r| %>
        <% r.each do |result| %>
            <div class='gift_suggestion'>
                <img class="img-circle" src='<%= result["galleryURL"].first %>'>
                <p><%= result["title"].first %></p>
                <a href='<%= result["viewItemURL"].first %>'>See Details</a>
            </div>
        <% end %>
    <% end %>


</div>
<% end %>

<% end %>
