


<% if @current_user == @contact.user %>

<div class='profile_paths_container'>
    <div id='profile_item1'>

        <ul>
          <% @current_user.contacts.each do |c| %>
          <p>Contact Details</p>
            <li><%=c.first_name %> <%=c.surname %></li>
            <li><%=c.email %></li>
            <li><%=c.gender %></li>
            <li><%=c.location %></li>
            <li><%=c.relationship_status %></li>
            <li><%=c.birthday %></li>
          <% end %>
        </ul>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item2'>
        <p>Contact Interests</p>
        <ul>
          <% @contact.interests.each do  |c| %>

            <li> <%= c.item %></li>
          <% end %>
        </ul>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item3'>
        <%=link_to 'Existing Orders', 'contacts#index'  %>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item4'>
        <%=link_to 'Edit Contact Details', edit_contact_path(@contact) %>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item5'>
        <%=link_to 'New Search', contact_path(@contact) %>
    </div>
</div>

<% if @result.length < 1 %>
<div class='gift_suggestions_container'>
    <h3>Results matching your search criteria of: '<%= params["keyword"] %>'
    </h3>

    <br>
    <% @results.each do |result| %>
        <a href="/movie_details/<%= result["id"] %>">
            <img src="http://image.tmdb.org/t/p/w300<%= result["poster_path"] %>">
        </a>
        <% binding.pry %>
    <% end %>
</div>

<% end %>
