


<% if @current_user == @contact.user %>

<div class='profile_paths_container'>
    <div id='profile_item1'>

        <ul>
          <p>Contact Details</p>
            <li><%=@contact.first_name %> <%=@contact.surname %></li>
            <li><%=@contact.email %></li>
            <li><%=@contact.gender %></li>
            <li><%=@contact.location %></li>
            <li><%=@contact.relationship_status %></li>
            <li><%=@contact.birthday %></li>
        </ul>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item2'>
        <p>Contact Interests</p>
        <ul>
          <% @contact.interests.each do  |c| %>

            <li> <%= c.item %></li>
          <% end %>
        </ul>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item3'>
        <%=link_to 'Existing Orders', 'contacts#index'  %>
    </div>
</div>
<div class='profile_paths_container' >
    <div id='profile_item4'>
        <%=link_to 'Edit Contact Details', edit_contact_path(@contact) %>
    </div>
</div>
<div class='profile_paths_container'>
    <div id='profile_item5'>
        <%=link_to 'New Search', contact_path(@contact) %>
    </div>
</div>

<% if @results.length > 0 %>
<div class='gift_suggestions_container'>
    <h3>Product suggestions: </h3>
    <% @results.each do |r| %>
        <% r.each do |result| %>
            <div>
                <img src='<%= result["galleryURL"].first %>'>
                <%= result["title"].first %>
                <br>
            </div>
        <% end %>
    <% end %>


</div>
<% end %>

<% end %>
